*{
    margin:0;
    padding: 0;
}

header{
    background-color: blueviolet;
    height: 200px;
    color: fuchsia;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 90%;
}